/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 */


body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fbfffe;
    font-family: helvetica, arial, sans-serif;
    line-height: 1.45;
}

.header {
    padding: 20px;
    height: 80px;
    background: linear-gradient(135deg, #1b1b1e 0%, #1b1b1e 30%, #6d676e 100%);
    color: #fbfffe;
}

.logo {
    font-family: arial, sans-serif;
    font-size: 48px;
    margin: auto;
}

.main-content {
    color: #0b0014;
    background-color: #fbfffe;
    margin: 0px 20px;
    padding: 20px 20px 80px;
}

h1 {
    font-family: "Trajan", "Trebuchet", "Palatino", serif;
    font-size: 3.5em;
}

h2 {
    font-family: "Trajan", "Trebuchet", "Palatino", serif;
    font-size: 2em;
}

a {
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid;
}

.primary-button {
    font-size: large;
    color: #fbfffe;
    background-color: #faa916;
    border-color: #faa916;
    box-shadow: 5px 5px 2px #6d676e;
    transition: .5s;
}

.primary-button:hover {
    color: #faa916;
    background-color: #fbfffe;
}

.secondary-button {
    color: #fbfffe;
    background-color: #faa916;
    border-color: #faa916;
    box-shadow: 5px 5px 2px #6d676e;
    transition: .5s;
}

.secondary-button:hover {
    color: #faa916;
    background-color: #fbfffe;
}

table {
    margin-top: 40px;
}

td {
    padding: 5px;
}

#text-column {
    width: 50%;
}

#title-column {
    width: 25%;
}

input[type=text] {
    width: 60%;
    font-family: "Times New Roman", Times, Serif, serif;
}

textarea {
    width: 60%;
    min-height: 100px;
    font-family: "Times New Roman", Times, Serif, serif;
}

.error-explanation {
    color: #96031a;
}
